<h1>Coaching#ask</h1>


<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="ask_user" placeholder="entrez votre question">
  <input type="submit" value="Go on!">
</form>

